<?xml version="1.0"?>
<!--
/**
 * @author    Run_As_Root <hello@run-as-root.sh>
 * @copyright 2025 Run_As_Root
 * @license   https://opensource.org/license/mit  MIT License
 * @link      https://run-as-root.sh/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <acp>
            <general>
                <enabled>0</enabled>
                <test_mode>0</test_mode>
            </general>
            <product_feed>
                <enabled>0</enabled>
                <max_products>1000</max_products>
            </product_feed>
            <webhooks>
                <enabled>0</enabled>
            </webhooks>
        </acp>
    </default>
</config>
